<div class="panel panel-success panel-dark">
	<div class="panel-heading">
		<span class="panel-title"><i class="panel-title-icon fa  fa-flag"></i>Manage Patrollers</span>
	</div>
	<div id="patrollerDiv" class="panel-body">
	
	
	</div>
</div>

<div class="panel panel-success panel-dark">
	<div class="panel-heading">
		<span class="panel-title"><i class="panel-title-icon fa  fa-warning"></i>Manage Threats</span>
	</div>
	<div id="threatsDiv" class="panel-body">
	
	
	</div>
</div>

<div class="panel panel-success panel-dark">
	<div class="panel-heading">
		<span class="panel-title"><i class="panel-title-icon fa  fa-warning"></i>Species Type</span>
	</div>
	<div id="speciesDiv" class="panel-body">
	
	
	</div>
</div>



<div id="successModal" class="modal modal-alert modal-success fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<i class="fa fa-check-circle"></i>
			</div>
			<div id="successTitle" class="modal-title">Some alert title</div>
			<div id="successBody" class="modal-body">Some alert text</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
			</div>
		</div> <!-- / .modal-content -->
	</div> <!-- / .modal-dialog -->
</div> <!-- / .modal -->

<!-- Danger -->
<div id="dangerModal" class="modal modal-alert modal-danger fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<i class="fa fa-times-circle"></i>
			</div>
			<div id="dangerTitle" class="modal-title">Some alert title</div>
			<div id="dangerBody" class="modal-body">Some alert text</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
			</div>
		</div> <!-- / .modal-content -->
	</div> <!-- / .modal-dialog -->
</div> <!-- / .modal -->
<!-- / Danger -->


