<div class="panel panel-success panel-dark">
	<div class="panel-heading">
		<span class="panel-title"><i class="panel-title-icon fa  fa-flag"></i>Manage Patrollers</span>
	</div>
	<div id="patrollerDiv" class="panel-body">
	
	
	</div>
</div>

<div class="panel panel-success panel-dark">
	<div class="panel-heading">
		<span class="panel-title"><i class="panel-title-icon fa  fa-warning"></i>Manage Threats</span>
	</div>
	<div id="threatsDiv" class="panel-body">
	
	
	</div>
</div>

<div class="panel panel-success panel-dark">
	<div class="panel-heading">
		<span class="panel-title"><i class="panel-title-icon fa  fa-paw"></i>Species Type</span>
	</div>
	<div id="speciesDiv" class="panel-body">
	
	
	</div>
</div>




