<script>
  $(function(){
	
	var paragraph = "<i>Environment Guard</i> is the most efficient way to gather large quantities of geo-referenced data for field observations at a speed and level of detail " +
		 "not possible before.  Scientists and conservationists benefit from the EnviGuard interface enabling significantly faster data collection " + 
		 "than text interfaces or written methods. The EnviGuard interface design also reduces data input errors.";
  
  
      $("#cP").typed({
        strings: [paragraph],
        typeSpeed: -1
      });
  });
  
  
</script>


<div class="theme-default page-signin">
<div class="signin-container">
	
<div class="panel panel-transparent">
	<div class="panel-heading">
		<span class="panel-title"><h2 id="cH1">EnviGuard</h2></span>
		
	</div>
	<div class="panel-body">
		<p id="cP" class="text-success">
		</p>
		
	</div>
</div> 
	
	


</div>

	<div id="page-signin-bg">
		<!-- Background overlay -->
		<div class="overlay"></div>
		<!-- Replace this with your bg image -->
		<img src="http://infinite-woodland-5276.herokuapp.com/assets/demo/signin-bg-8.jpg" alt="">
	</div>
	
<div>