<div class="col-sm-6" style="position:relative; width: 50%;">

	<div class="panel panel-success" style="position:relative; width: 100%;" >
		<div class="panel-heading">
			<span class="panel-title">Density of Regenerants</span>
		</div> <!-- / .panel-heading -->
		<div class="panel-body" style="position:relative;height: 500px; width: 100%;">
				<div class="graph-container">
					<div id="reportDensity" class="graph"></div>
				</div>
		</div>
	</div> <!-- / .panel-body -->
</div> <!-- / .panel -->

<div class="col-sm-6" style="position:relative; width: 50%;">

	<div class="panel panel-success" style="position:relative; width: 100%;" >
		<div class="panel-heading">
			<span class="panel-title">Presence of Regenerants</span>
		</div> <!-- / .panel-heading -->
		<div class="panel-body" style="position:relative;height: 500px; width: 100%;">
				<div class="graph-container">
					<div id="reportPresence" class="graph"></div>
				</div>
		</div>
	</div> <!-- / .panel-body -->
</div> <!-- / .panel -->

<div class="col-sm-6" style="position:relative; width: 50%;">

	<div class="panel panel-success" style="position:relative; width: 100%;" >
		<div class="panel-heading">
			<span class="panel-title">Threat Types</span>
		</div> <!-- / .panel-heading -->
		<div class="panel-body" style="position:relative;height: 500px; width: 100%;">
				<div class="graph-container">
					<div id="reportThreat" class="graph"></div>
				</div>
		</div>
	</div> <!-- / .panel-body -->
</div> <!-- / .panel -->


		
<div class="col-sm-6" style="position:relative; width: 50%;">

	<div class="panel panel-success" style="position:relative; width: 100%;" >
		<div class="panel-heading">
			<span class="panel-title">Wildlife Observation Type</span>
		</div> <!-- / .panel-heading -->
		<div class="panel-body" style="position:relative;height: 500px; width: 100%;">
				<div class="graph-container">
					<div id="reportWildType" class="graph"></div>
				</div>
		</div>
	</div> <!-- / .panel-body -->
</div> <!-- / .panel -->

<div class="col-sm-6" style="position:relative; width: 50%;">

	<div class="panel panel-success" style="position:relative; width: 100%;" >
		<div class="panel-heading">
			<span class="panel-title">Species</span>
		</div> <!-- / .panel-heading -->
		<div class="panel-body" style="position:relative;height: 500px; width: 100%;">
				<div class="graph-container">
					<div id="reportSpecies" class="graph"></div>
				</div>
		</div>
	</div> <!-- / .panel-body -->
</div> <!-- / .panel -->

<div class="col-sm-6" style="position:relative; width: 50%;">

	<div class="panel panel-success" style="position:relative; width: 100%;" >
		<div class="panel-heading">
			<span class="panel-title">Species Type</span>
		</div> <!-- / .panel-heading -->
		<div class="panel-body" style="position:relative;height: 500px; width: 100%;">
				<div class="graph-container">
					<div id="reportSpeciesType" class="graph"></div>
				</div>
		</div>
	</div> <!-- / .panel-body -->
</div> <!-- / .panel -->







		


		
	