<div class="card-body card-padding">
	<div class="lightbox photos">

		<div data-src="http://ichef.bbci.co.uk/news/976/media/images/83351000/jpg/_83351965_explorer273lincolnshirewoldssouthpicturebynicholassilkstone.jpg" class="col-md-2 col-sm-4 col-xs-6">
			<div class="lightbox-item p-item">
				<img src="http://ichef.bbci.co.uk/news/976/media/images/83351000/jpg/_83351965_explorer273lincolnshirewoldssouthpicturebynicholassilkstone.jpg" alt="">
			</div>
		</div>

		<div data-src="http://ichef.bbci.co.uk/news/976/media/images/83351000/jpg/_83351965_explorer273lincolnshirewoldssouthpicturebynicholassilkstone.jpg" class="col-md-2 col-sm-4 col-xs-6">
			<div class="lightbox-item p-item">
				<img src="http://ichef.bbci.co.uk/news/976/media/images/83351000/jpg/_83351965_explorer273lincolnshirewoldssouthpicturebynicholassilkstone.jpg" alt="">
			</div>
		</div>
		


	</div>

</div>